<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="URL" value="https://auth.qa.libertytax.net/adfs/oauth2/authorize/?client_id=https%3A%2F%2Ffusionservices.qa.libertytax.net%2Ftext%2F&redirect_uri=https%3A%2F%2Ffusion.qa.libertytax.net%2Ftext&response_type=id_token%20token&scope=openid%20profile%20allatclaims&state=61b65cd2283b40b7a23060ae4abb799d&nonce=3f2a6ef8a2504306810b2ff4cffe86a3"/>-->
    <add key="Browser" value="Chrome" />
    <add key="SheetName" value="Sheet1" />
    <add key="XlFilePath" value="@/ImportFile/LibertyTestData.xlsx" />
	  <add key="OfcUrl" value=" Learn More https://bit.ly/38MbDlS. Reply STOP to stop receiving msgs." />
    <add key="AppUrl" value=" Set an appointment https://bit.ly/2vs1MDn. Reply STOP to stop receiving msgs." />
    <add key="NoUrl" value=" Reply STOP to stop receiving msgs." />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AspectInjector.Broker" publicKeyToken="a29e12442a3d3609" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>